<div class="language-bar">
  <label for="language-toggle"><div id="language-burger">
    <div id="open-language-bar">
    <%= I18n.locale.upcase%>
  </div>
  </div></label>
  <input type="checkbox" id="language-toggle" />
  <div id="language-choice">
    <% ["en", "de", "fr", "it"].each do |x| %>
      <% if x != I18n.locale.to_s %>
        <li class="language" id= <% x %>><%= link_to x.upcase, controller: controller_name, action: action_name, locale: x  %></li>
      <% end %>
    <% end %>
  </div>
</div>
