<div class="page-text" id="page-text-large">
<p><span style="font-weight: bold;">Daniela Zimmermann</span>
  <br>
Medizinische Masseurin mit eidg. FA
<br>
Obergässli 11
<br>
2502 Biel
<br>
<br>
<span style="font-weight: bold;">079 473 33 50</span>
<br>
<br>
Termine über Anruf, SMS oder Whats App
</p>
</div>
<div class="nav-folders-wrapper" id="contact-wrapper">

</div>
<div class="nav-folders-image">
  <div class="image-container" id="map"
    style="width: 120%; height: 120%;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
