<div class="page-text" id="page-text-large">
<p style="background-color: transparent; width: 100%"><span class="home-span"><%= t('poem').split('_ ').first %></span>
<br>
<br>
<span class="home-span"><%= t('poem').split('_ ').second %></span>
<br>
<br>
<span class="home-span"><%= t('poem').split('_ ').third %></span>
</p>
<br>
</div>
<div class="nav-folders-wrapper" id="home-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'praxis.png', class: 'image-container', id: 'home-container'%>
  </div>

</div>

