<p class="page-text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum vitae hic dolores, expedita maxime illum, ex dolorem suscipit. Vero!
</p>
<div class="nav-folders-wrapper" id="info-wrapper">

</div>
