<div class="page-text">
<h2>Gemütlich. Wertschätzend. Aufgeschlossen.
</h2>
<br>
<p>
  Du vermisst einen Austausch unter Gleichgesinnten im Aargau?
  <br>
  Hast du deine Vorlieben frisch entdeckt und möchtest gerne mehr
  erfahren?
  <br>
  Oder möchtest du einfach deine Erfahrung mit
  aufgeschlossenen Menschen teilen?
  <br>
  Dann würden wir uns freuen, dich schon bald kennenzulernen.
</p>
</div>
<div class="nav-folders-wrapper" id="info-wrapper">

</div>
