<div class="page-text">
<p>Wir alle sind MENSCHEN. Egal woher wir kommen, wie wir aussehen oder an was wir glauben, was wir in unserem Leben tun und darstellen.
</p>
<br>
<br>
<p>FÜR MICH bedeutet MENSCH sein mit dem Wind zu tanzen und für den Mond zu singen. In einem Meer von Emotionen zu schwimmen, Momente der Vollkommenheit und Klarheit zu erleben, sich zu verlieren um sich neu zu entdecken.
</p>
<br>
<br>
<p>  MENSCH sein bedeutet zu weinen, zu lachen, zu lieben. Selbständig zu denken, zu hinterfragen und seine persönliche Wahrheit auszusprechen. MENSCH sein bedeutet sich zu erlauben sich selbst zu sein. Was bedeutet MENSCH sein FÜR DICH?
</p>
<br>
<br>
<p>Es braucht Mut, MENSCH zu sein. Denn MENSCH sein bedeutet farbig zu sein, in einem Meer von Grau. Anders zu sein als alle anderen, einzigartig, ein Original statt einer Kopie.
</p>
<br>
<br>
<p>Heilung bedeutet für mich, diese Originalität in uns selbst und in unseren Mitmenschen zu erkennen. Das menschlich sein mit all seinen Facetten anzunehmen und zu leben. Und unsere Gedanken, Gefühle und Geschichten miteinander zu teilen, um aneinander zu wachsen.
</p>
<br>
<br>
<p>Ich wünsche mir, dass immer mehr MENSCHEN den Mut haben Farbe zu bekennen, um in Liebe und Respekt für das MENSCH sein einzustehen, zu unserem eigenen Wohl und zum Wohle unserer Familie, der MENSCHHEIT.
</p>

</div>
<div class="nav-folders-wrapper" id="philosophy-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'flower.png', class: 'image-container', id: 'philosophy-container'%>
  </div>

</div>
