<div class="page-text">
<p><span style="font-weight: bold">Einstündige Behandlung: 100 CHF</span>
<br>
<br>
Die Bezahlung erfolgt direkt nach der Behandlung gegen Krankenkassen-Quittung.
<br>
<br>
Ich akzeptiere Bezahlung in Form von <span style="font-weight: bold;">Bargeld</span>, <span style="font-weight: bold;">Twint</span> und <span style="font-weight: bold;">Bitcoin</span>.
</p>
<br>
<br>
<p style="text-align: left;"><span style="font-weight: bold;">Ich bin EMR, ASCA, Visana und SNE anerkannt.</span>
<br>
<br>
Bitte informiere dich vor der ersten Behandlung darüber, welche Leistungen unter welchen Bedingungen von der Zusatzversicherung deiner Krankenkasse in welchem Umfang übernommen werden.
</p>
</div>
<div class="nav-folders-wrapper" id="prices-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'pig.png', class: 'image-container', id: 'prices-container'%>
  </div>

</div>
