<div class="page-text">
  <h2>Medizinische Massage & Hawaiianische Körperarbeit
  </h2>
  <br>
  <p>Die Medizinische Massage löst gezielt Verspannungen, fördert die Durchblutung, regt den Stoffwechsel an und wirkt beruhigend auf den Organismus.
  </p>
  <br>
  <p>Die Hawaiianische Körperarbeit ist eine jahrtausendealte Heilkunst, die über die Generationen von Meister an Schüler weitergegeben wird. Sie ist eine Mischung aus effektiven Techniken um Verspannungszustände im Körper zu lösen, und liebevoller Absicht, um Körper, Seele und Geist wieder in Einklang zu bringen.
  </p>
  <br>
  <p>Beide Therapieformen haben mir wertvolle Werkzeuge mit auf den Weg gegeben. In meinen Behandlungen verbinde ich die beiden Konzepte, um für jeden Kunden individuell die für sein Beschwerdebild effektivsten Techniken anwenden zu können.</p>
  <br>
  <br>
  <h2 style="text-align: left;">Weitere Therapieformen:</h2>
  <br>
  <ul style="list-style: round filled; text-align: left;">
    <li>Schwangerschaftsmassage</li>
    <li>Manuelle Lymphdrainage</li>
    <li>Kinesio Taping nach Dr. Kenzo Kase</li>
    <li>Thai Yoga Massage</li>
  </ul>
</div>
<div class="nav-folders-wrapper" id="therapies-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'praxisinnen.png', class: 'image-container', id: 'therapies-container'%>
  </div>

</div>
