.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  img {
    height: 160px;
    width: 160px;
    margin-right: 10px;
  }
  label {
    display: none;
  }
}

#first-link {
  border-bottom-left-radius: 4px;
}

#nav-title {
  font-family: 'Boogaloo', cursive;
  font-size: 64px;
  font-weight: bold;
  color: #DCE132;
  display: block;
  padding-right: 20px;
  text-shadow: -4px 0 rgba(0, 0, 0, 0.2), 0 4px rgba(0, 0, 0, 0.4), 4px 0 rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.2);
}

.header {
  width: auto;
  display: flex;
  align-items: center;
  max-width: 80vw;
  z-index: 2;
}

#main-menu {
  display: flex;
  z-index: 10;
  .active {
    font-weight: bolder;
    color: $blue;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
  }
  li {
    list-style: none;
    height: 80px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 48px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #DCE132;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    font-family: $header-font;
    font-weight: bold;
    &:hover {
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.8);
      transition: ease-out 0.5s;
    }
  }
  #main-menu-box {
    display: none;
  }
}


#toggle {
  display: none;
}

@keyframes slideInFromRightAndRotate {
  0% {
    transform: translateX(100%);
    box-shadow: none;
  }

  95% {
    box-shadow: none;
  }
  100% {
    transform: translateX(0);
    transform: rotate(10deg);
  }
}

@keyframes slideInFromLeftAndRotate {
  0% {
    transform: translateX(-100%);
    box-shadow: none;
  }

  95% {
    box-shadow: none;
  }
  100% {
    transform: translateX(100%);
    transform: rotate(10deg);
  }
}

.nav-folders-wrapper {
  width: 64vw;
  height: 200vh;
  position: absolute;
  bottom: -60vh;
  left: 46vw;
  transform: rotate(10deg);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  border-radius: 4px;
  animation: 0.5s ease-out 0s 1 slideInFromRightAndRotate;
  box-shadow: -4px -10px 10px 6px rgba(0,0,0,0.2);
}

.nav-folders-image {
  width: 48vw;
  height: 80vh;
  max-height: 44vw;
  position: absolute;
  bottom: -8vh;
  left: -8vw;
  transform: rotate(10deg);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  animation: 0.5s ease-out 0s 1 slideInFromLeftAndRotate;
  box-shadow: 4px 10px 10px 6px rgba(0,0,0,0.2);
  overflow: hidden;
  border-top-right-radius: 12px;
}

.image-container {
  transform: rotate(-10deg);
  position: absolute;
  height: auto;
  width: 110%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
}

#map {
  position: absolute;
  top: -5vw;
  left: -5vw;

}

#home-wrapper {
  box-shadow: none;
}


#first-link {
  background-color: #758234;
}

#therapies-wrapper {
  background-color: rgba(117, 130, 52, 0.7);
}


#second-link {
  background-color: #606F34;
}

#prices-wrapper {
  background-color: rgba(96, 111, 52, 0.7);
}


#third-link {
  background-color: #4B5C34;
}

#contact-wrapper {
  background-color: rgba(75, 92, 52, 0.7);
}

#fourth-link {
  background-color: #364934;
}

#whoami-wrapper {
  background-color: rgba(54, 73, 52, 0.7);
}

#fifth-link {
  background-color: #223635;
}

#philosophy-wrapper {
  background-color: rgba(34, 54, 53, 0.7);
}

#sixth-link {
  background-color: #0D2335;
}

#projects-wrapper {
  background-color: rgba(13, 35, 53, 0.7);
}

@media only screen and (max-width: 1700px) {
#main-menu {
  font-size: 44px;
}

#nav-title {
  font-size: 52px;
}
}

@media only screen and (max-width: 1600px) {
  #nav-title {
    font-size: 48px;
  }
  .navbar {
    img {
      width: 120px;
      height: 120px;
    }
  }
  #main-menu {
    a {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #nav-title {
    font-size: 44px;
  }
  #main-menu {
    a {
    font-size: 32px;
    }
    li {
      height: 80px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .navbar {
    height: 120px;
    padding: 0;
    img {
      width: 100px;
      height: 100px;
      z-index: 100;
    }
    label {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 20;
      width: 70px;
      height: 70px;
      &:hover {
        cursor: pointer;
      }
    }
    #burger {
      position: absolute;
      top: 28px;
      right: 14px;
      transform: rotate(180deg);
      transition:all ease 0.1s;
      width: 40px;
      height: 6px;
      display: block;
      background-color: #DCE132;
      border-radius: 2px;
      border-color: $blue;
    }
    #burger:before,
    #burger:after {
      height: 6px;
      display: block;
      background-color: #DCE132;
      position: absolute;
      content: '';
      transition:all ease 0.2s;
      border-radius: 2px;
    }
    #burger:before {
      top: -14px;
      width: 40px;
    }
    #burger:after {
      top: 14px;
      width: 40px;
    }
    #burger.active {
      background-color: transparent;
      box-shadow: none;
      &:before {
        transform: rotate(50deg);
        top: 0px;
        background-color: #DCE132;
      }
      &:after {
        transform: rotate(-50deg);
        top: 0px;
        background-color: #DCE132;
      }

    }
  }

  #nav-title {
    font-size: 48px;
  }

.nav-folders-wrapper {
  width: 80vw;
  position: absolute;
  top: 144px;
  left: 10vw;
  transform: rotate(0deg);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  animation: 1s ease-out 0s 1 TransparentToVisible;
  z-index: 2;
}

.nav-folders-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin: auto;
  height: calc(100vh - 120px);
  max-height: none;
  transform: rotate(0deg);
  border-radius: 0;
  z-index: 1;
  animation: none;
}

@media (max-aspect-ratio: 1/1) {
  .nav-folders-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-folders-wrapper {
    height: 64vh;
  }

  #main-menu {
    a {
      font-size: 6vh;
      padding: 1.5vh;
    }

    #first-link {
      top: 16vh;
    }
    #second-link {
      top: 27vh;
    }
    #third-link {
      top: 38vh;
    }
    #fourth-link {
      top: 49vh;
    }
    #fifth-link {
      top: 60vh;
    }
    #sixth-link {
      top: 71vh;
    }
  }

  .image-container {
    transform: rotate(0deg);
    height: 100vh;
    width: auto;
    position: relative;
  }
}

@media (min-aspect-ratio: 1/1) {
  .image-container {
    transform: rotate(0deg);
    height: auto;
    width: 100%;
  }

    #main-menu {
    a {
      font-size: 6vh;
      padding: 1vh;
    }
  }

  @media only screen and (min-height: 900px) {
    .nav-folders-wrapper {
      height: 64vh;
    }
  }

  @media only screen and (max-height: 899px) {
    .nav-folders-wrapper {
      height: 56vh;
    }
  }

    #first-link {
      top: 26vh;
    }
    #second-link {
      top: 36vh;
    }
    #third-link {
      top: 46vh;
    }
    #fourth-link {
      top: 56vh;
    }
    #fifth-link {
      top: 66vh;
    }
    #sixth-link {
      top: 76vh;
    }
}

#home-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

#therapies-wrapper {
  background-color: rgba(117, 130, 52, 1);
}

#prices-wrapper {
  background-color: rgba(96, 111, 52, 1);
}

#contact-wrapper {
  background-color: rgba(75, 92, 52, 1);
}

#whoami-wrapper {
  background-color: rgba(54, 73, 52, 1);
}

#philosophy-wrapper {
  background-color: rgba(34, 54, 53, 1);
}

#projects-wrapper {
  background-color: rgba(13, 35, 53, 1);
}

  #main-menu {
    position: absolute;
    left: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 20px;
    align-items: flex-end;
    background-color: black;
    background-image: asset-url('praxis.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    transition: 0.4s ease-in;
    z-index: 10;
    li {
      height: auto;
    }
    .active {
      color: $blue;
      text-decoration: line-through;
    }
    a {
      box-shadow: none;
      font-weight: bold;
      justify-content: flex-end;
    }

    #first-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 0.5s;
      border-bottom-left-radius: 0px;
    }
    #second-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 0.6s;
    }
    #third-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 0.7s;
    }
    #fourth-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 0.8s;
    }
    #fifth-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 0.9s;
    }
    #sixth-link {
      position: absolute;
      right: -100vw;
      transition-duration: 0.4s;
      transition-delay: 1s;
    }

    #main-menu-box {
      position: absolute;
      display: block;
      right: -100vw;
      bottom: -50vh;
      transform: rotate(20deg);
      transition: 0.5s ease-in;
      width: 100vw;
      height: 200vh;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  #toggle:checked + #main-menu {
    left: 0;
    #main-menu-box {
      right: -60vw;
    }
    #first-link,
    #second-link,
    #third-link,
    #fourth-link,
    #fifth-link,
    #sixth-link {
      right: 6vw;
    }
  }
}

@media only screen and (max-width: 700px) {

  @media (max-aspect-ratio: 1/1) {
  #main-menu {
    a {
      //font-size: 0.5vh;
      //padding: 1vh;
    }
  }
}

  #nav-title {
    font-size: 40px;
    text-shadow: -2px 0 rgba(0, 0, 0, 0.2), 0 2px rgba(0, 0, 0, 0.4), 2px 0 rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.2);
  }
  #toggle:checked + #main-menu {
    #main-menu-box {
      right: -40vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  #nav-title {
    font-size: 32px;
  }

  #main-menu {
    background-size: cover;
  }
}

@media only screen and (max-width: 380px) {
  @media (max-aspect-ratio: 1/1) {
  #main-menu {
    a {
      //font-size: 32px;
    }
  }
}

  #nav-title {
    font-size: 28px;
  }
  #toggle:checked + #main-menu {
    #main-menu-box {
      right: -40vw;
    }
  }
}

@media only screen and (max-width: 350px) {
  @media (max-aspect-ratio: 1/1) {
  #main-menu {
    a {
      //font-size: 36px;
    }
  }
}
  #nav-title {
    font-size: 24px;
  }
  #toggle:checked + #main-menu {
    #main-menu-box {
      right: -40vw;
    }
  }
}
