.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  img {
    height: 240px;
    width: 240px;
  }
  label {
    display: none;
  }
}

#nav-title {
  font-family: $header-font;
  font-size: 120px;
  font-weight: bold;
  color: white;
  display: block;
  text-shadow: -2px 0 $blue, 0 2px $blue, 2px 0 $blue, 0 -2px $blue;
}

.header {
  width: auto;
  display: flex;
  align-items: center;
  max-width: 80vw;
  z-index: 2;
}

#main-menu {
  display: flex;
  z-index: 10;
  .active {
    font-weight: bold;
  }
  li {
    list-style: none;
    height: 100px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    font-family: $header-font;
    &:hover {
      font-weight: bold;
    }
  }
  #main-menu-box {
    display: none;
  }
}


#toggle {
  display: none;
}

@keyframes slideInFromRightAndRotate {
  0% {
    transform: translateX(100%);
    box-shadow: none;
  }

  95% {
    box-shadow: none;
  }
  100% {
    transform: translateX(0);
    transform: rotate(20deg);
  }
}

.nav-folders-wrapper {
  width: 60vw;
  height: 200vh;
  position: absolute;
  bottom: -60vh;
  left: 50vw;
  transform: rotate(20deg);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  border-radius: 4px;
  animation: 0.5s ease-out 0s 1 slideInFromRightAndRotate;
  box-shadow: -15px 0px 17px -7px rgba(0,0,0,0.75);
}

#home-wrapper {
  box-shadow: none;
}

#info-wrapper {
  background-color: $beige-transparent;
}

#first-link a, #second-link {
  background-color: $beige;
}

#meetingpoint-wrapper {
  background-color: $green-transparent;
}

#second-link a, #third-link {
  background-color: $green;
}

#contact-wrapper {
  background-color: $blue-transparent;
}

#third-link a {
  background-color: $blue;
}


@media only screen and (max-width: 1600px) {
  #nav-title {
    font-size: 96px;
  }
  #main-menu {
    a {
      font-size: 60px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #nav-title {
    font-size: 80px;
  }
  #main-menu {
    a {
    font-size: 40px;
    }
    li {
      height: 80px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #nav-title {
    font-size: 72px;
  }
  #main-menu {
    a {
    font-size: 40px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .navbar {
    height: 120px;
    padding: 0;
    img {
      width: 100px;
      height: 100px;
      z-index: 100;
    }
    label {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 20;
      width: 70px;
      height: 70px;
      &:hover {
        cursor: pointer;
      }
    }
    #burger {
      position: absolute;
      top: 28px;
      right: 14px;
      transform: rotate(180deg);
      transition:all ease 0.1s;
      width: 40px;
      height: 6px;
      display: block;
      background-color: white;
      border-radius: 2px;
      border-color: $blue;
    }
    #burger:before,
    #burger:after {
      height: 6px;
      display: block;
      background-color: white;
      position: absolute;
      content: '';
      transition:all ease 0.2s;
      border-radius: 2px;
    }
    #burger:before {
      top: -14px;
      width: 40px;
    }
    #burger:after {
      top: 14px;
      width: 40px;
    }
    #burger.active {
      background-color: transparent;
      box-shadow: none;
      &:before {
        transform: rotate(50deg);
        top: 0px;
        background-color: white;
      }
      &:after {
        transform: rotate(-50deg);
        top: 0px;
        background-color: white;
      }

    }
  }

  #nav-title {
    font-size: 60px;
  }

.nav-folders-wrapper {
  width: 80vw;
  height: 72vh;
  position: absolute;
  top: 20vh;
  left: 10vw;
  transform: rotate(0deg);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  animation: 1s ease-out 0s 1 TransparentToVisible;
}

  #main-menu {
    position: absolute;
    left: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 20px;
    align-items: flex-end;
    background-color: black;
    background-image: asset-url('marc.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    transition: 0.4s ease-in;
    z-index: 10;
    li {
      height: auto;
    }
    .active {
      color: $blue;
      text-decoration: line-through;
    }
    a {
      box-shadow: none;
      font-size: 64px;
      font-weight: bold;
      justify-content: flex-end;
      padding: 16px;
    }

    #first-link {
      position: absolute;
      right: -100vw;
      top: 48vh;
      transition-duration: 0.4s;
      transition-delay: 0.5s;
    }
    #second-link {
      position: absolute;
      right: -100vw;
      top: 63vh;
      transition-duration: 0.4s;
      transition-delay: 0.6s;
    }
    #third-link {
      position: absolute;
      right: -100vw;
      top: 78vh;
      transition-duration: 0.4s;
      transition-delay: 0.7s;
    }

    #main-menu-box {
      position: absolute;
      display: block;
      right: -100vw;
      bottom: -50vh;
      transform: rotate(20deg);
      transition: 0.5s ease-in;
      width: 100vw;
      height: 200vh;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  #toggle:checked + #main-menu {
    left: 0;
    #main-menu-box {
      right: -60vw;
    }
    #first-link,
    #second-link,
    #third-link {
      right: 6vw;
    }
  }
}

@media only screen and (max-width: 640px) {
  #nav-title {
    font-size: 40px;
  }
  #toggle:checked + #main-menu {
    #main-menu-box {
      right: -40vw;
    }
    a {
      font-size: 60px;
    }
  }
}

@media only screen and (max-width: 500px) {
  #nav-title {
    font-size: 36px;
  }

  #main-menu {
    background-size: cover;
  }
}

@media only screen and (max-width: 380px) {
  #nav-title {
    font-size: 32px;
  }
  #toggle:checked + #main-menu {
    #main-menu-box {
      right: -40vw;
    }
    a {
      font-size: 56px;
    }
  }
}
