#visibility-switch {
  position: absolute;
  top: 84px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 50%;
  background-color: $blue;
  display: none;
  z-index: 5;
  border: 3px solid #DCE132;
  padding-top: 2px;
  background-size: contain;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  align-items: center;
  justify-content: center;
  p {
    color: #DCE132;
    font-weight: bold;
    font-family: 'Zen Loop', cursive;
    font-size: 26px;
  }
  #show-text {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1220px)  {
  #visibility-switch {
    display: flex;
  }
}
