#visibility-switch {
  position: absolute;
  top: 126px;
  right: 1vw;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 50%;
  background-color: $blue;
  display: none;
  z-index: 5;
  border: 2px solid #DCE132;
  background-image: asset-url('invisible-green.png');
  background-size: contain;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1100px)  {
  #visibility-switch {
    display: flex;
  }
}
