@import 'config/fonts';
@import 'config/colors';
@import 'components/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: hsla(90, 53%, 22%, 1);
  background: linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  height: 100vh;
  width: 100vw;
  //background-image: asset-url('daniela.png');
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
}

@keyframes TransparentToVisible {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.page-text {
  color: #FDFEE7;
  font-family: $text-font;
  font-weight: normal;
  font-size: 24px;
  position: absolute;
  width: 42vw;
  height: 60vh;
  left: 56vw;
  bottom: 5vh;
  z-index: 2;
  text-align: start;
  overflow-y: auto;
  padding-right: 20px;
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.5), 0 0.5px rgba(0, 0, 0, 0.5), 0.5px 0 rgba(0, 0, 0, 0.5), 0 -0.5px rgba(0, 0, 0, 0.5);
  h2 {
    font-weight: bold;
    font-size: 28px;
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
  }
  p, ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px;
  }
  ul {
    padding-left: 24px;
  }
}

#page-text-large {
  p {
    font-size: 32px;
  }
}

#link-button {
  width: 180px;
  height: 60px;
  display: flex;
  background-color: #DCE132;
  border-radius: 4px;
  border-color: 1px black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: #003D74;
  font-family: 'Boogaloo', cursive;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: ease-out 0.5s;
  }
}


@media only screen and (max-width: 1400px) {
  .page-text {
    font-size: 24px;
    h2 {
      font-size: 28px;
    }
  }
  #page-text-large {
  p {
    font-size: 28px;
  }
}
}

@media only screen and (max-width: 1220px) {
  .page-text {
    position: absolute;
    top: 140px;
    left: 10vw;
    text-align: start;
    padding: 32px;
    z-index: 3;
    animation: 1s ease-out 0s 1 TransparentToVisible;
    p {
      border-radius: 4px;
    }
  }
  #page-text-large {
  p {
    font-size: 28px;
    }
  }
  .home-span{
    background-color: rgba(4, 65, 112, 0.8);
    line-height: 1.6;
    font-weight: bold;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 1220px) {
  .page-text {
    height: auto;
    width: 80vw;
    max-height: 68vh;  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 1220px) {
  .page-text {
    height: auto;
    width: 80vw;
    max-height: 58vh;  }
}

@media only screen and (max-width: 600px) {
  .page-text {
    padding: 20px;
    font-size: 20px;
    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }
    ul {
      padding-left: 4px;
    }
  }
  #page-text-large {
  p {
    font-size: 24px;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
